[Service]
Type=simple
TimeoutStartSec=120
ExecStartPre=/bin/sleep 5
ExecStart=awatcher
Restart=always
RestartSec=5
RestartSteps=2
RestartMaxDelaySec=15

[Unit]
Description=AWatcher
After=graphical-session.target

[Install]
WantedBy=graphical-session.target
